{
	"pluginSearchDirs": ["./node_modules"],
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-java", "@prettier/plugin-xml"],
	"singleQuote": true,
	"arrowParens": "avoid",
	"printWidth": 120,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"proseWrap": "always",
	"quoteProps": "preserve",
	"vueIndentScriptAndStyle": true,
	"tabWidth": 4,
	"semi": false,
	"trailingComma": "none",
	"useTabs": true
}
